// Variabel
$primary-color: #333;
$highlight-color: #FFBD59;

// Mixin
@mixin media-desktop {
  @media (min-width: 769px) {
    @content;
  }
}

@mixin media-mobile {
  @media (max-width: 768px) {
    @content;
  }
}

// Kode SCSS
img {
  display: block;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  flex-wrap: wrap;
}

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background-color: #bf1722;
  color: white;
  padding: 8px;
  z-index: 100;
}
 
.skip-link:focus {
   top: 0;
}

header {
  background-color: $primary-color;
  color: #fff;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo img {
  max-width: 150px;
  padding: 10px;
}

.nav-list {
  list-style: none;
  padding: 0;
  display: flex;
}

.nav-list li {
  margin: 0 20px;
}

.nav-list li a {
  text-decoration: none;
  color: #fff;
  padding: 15px;
}

.nav-list li a:hover {
  text-decoration: underline;
  color: $highlight-color;
}

.jumbotron {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 500px;
}

.slide-container {
  width: 400%;
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  width: 25%;
  height: 100%;
  object-fit: cover;
  display: none;
}

.active {
  display: block;
}

.nav-button {
  font-size: 50px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: #ffffff;
  cursor: pointer;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 38px;
  background-color: $primary-color;
  min-width: 44px;
  min-height: 44px
}

.nav-button:first-child {
  left: 0;
}

.nav-button:last-child {
  right: 0;
}

@include media-desktop {
  .slide {
    min-width: 1000px;
    width: 25%;
  }
}

@include media-mobile {
  .slide {
    width: 100%;
  }
}

.mobile-menu {
  display: none;
  position: absolute;
  background-color: $primary-color;
  top: 90px;
  right: 0;
  width: 200px;
  height: 100vh;
  z-index: 1;
  overflow-y: scroll;
}

.mobile-nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mobile-nav-list li {
  padding: 10px;
  text-align: center;
}

.mobile-nav-list li a {
  text-decoration: none;
  color: #fff;
  padding: 15px;
}

.mobile-nav-list li a:hover {
  text-decoration: underline;
  color: $highlight-color;
}

.star-icon {
  color: #ffe234;
}

.detail-button {
  background-color: #FFBD59;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 14px;
  max-width: 100%;
  max-height: 44px;
  min-width: 44px;
  min-height: 44px;
}

.detail-button:hover {
  background-color: #e48900;
}

.modal {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-content {
  width: 50%;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  align-items: center;
}

.close-modal-button {
  background-color: #ccc;
  color: #000;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 10px;
  width: auto;
  min-width: 44px;
  min-height: 44px
}

.close-modal-button:hover {
  background-color: #999;
}

// DESKTOP VERSION
@include media-desktop {
  .nav-list {
    display: flex;
  }

  .mobile-menu-toggle,
  .mobile-menu {
    display: none;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 300px;
    gap: 20px;
  }

  main {
    grid-column: 1;
  }

  aside {
    grid-column: 2;
    width: 100%;
  }

  .restaurant-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .restaurant-card {
    flex: 0 0 calc(20% - 20px);
    margin: 10px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    display: flex;
    flex-direction: column;
  }

  .restaurant-card h2 {
    font-size: 16px;
    margin: 10px 0;
  }

  .restaurant-card p {
    font-size: 14px;
    margin: 5px 0;
  }

  .restaurant-card img {
    max-width: 100%;
  }

  aside {
    background-color: #f0f0f0;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 80%;
    margin: 10px;
    height: 110vh;
  }

  .chart {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 5px;
  }

  .cart h1 {
    font-size: 22px;
    margin-bottom: 10px;
    margin-top: 0;
  }

  .cart ul {
    list-style-type: none;
    padding: 0;
  }

  .cart li {
    margin-top: 10px;
  }

  .cart label {
    display: block;
    margin-bottom: 5px;
  }

  .cart input[type="text"],
  .cart textarea,
  #orderDate {
    width: 85%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    min-width: 44px;
    min-height: 44px
  }
  .cart select{
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    min-width: 44px;
    min-height: 44px
  }

  fieldset{
    width: 83%;
  }

  #checkoutButton {
    background-color: #FFBD59;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    min-width: 44px;
    min-height: 44px
  }

  #checkoutButton:hover {
    background-color: #e48900;
  }

  footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer-description {
    margin-bottom: 10px;
    margin-right: 20px;
    flex-grow: 1;
    text-align: center;
  }

  h6 {
    font-size: 14px;
  }

  iframe {
    border: none;
    width: 100%;
    height: 300px;
  }

  .map {
    width: 50%;
    margin-left: 20px;
    margin-right: 50px;
  }

  .map h2 {
    font-size: 15px;
    align-items: end;
  }
}

// MOBILE VERSION
@include media-mobile {
  .logo img {
    max-width: 80px;
    padding: 10px;
  }

  .jumbotron {
    height: 200px;
  }

  .nav-list {
    display: none;
  }

  .nav-button {
    font-size: 35px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: #ffffff;
    cursor: pointer;
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 35px;
    background-color: $primary-color;
    min-width: 44px;
    min-height: 44px
  }

  .mobile-menu-toggle {
    display: block;
    min-height: 44px;
    min-width: 44px;
  }

  .mobile-menu {
    display: none;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: 20px;
  }

  main {
    grid-row: 1;
    grid-column: 1;
  }
  
  .restaurant-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .restaurant-card {
    flex-basis: calc(40% - 20px);
    margin: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .chart {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
  }

  .restaurant-card img {
    max-width: 100%;
  }

  .restaurant-card h2 {
    font-size: 14px;
  }

  .restaurant-card p {
    font-size: 10px;
  }

  aside {
    grid-row: 2;
    grid-column: 1;
    width: 80%;
    background-color: #f0f0f0;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 85%;
    margin: 10px;
    height: auto;
  }

  .cart h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }

  .cart ul {
    list-style-type: none;
    padding: 0;
  }

  .cart li {
    margin-top: 10px;
  }

  .cart label {
    display: block;
    margin-bottom: 5px;
  }

  .cart input[type="text"],
  .cart textarea,
  #orderDate {
    width: 85%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    min-width: 44px;
    min-height: 44px
  }
  .cart select{
    width: 92%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    min-width: 44px;
    min-height: 44px
  }

  fieldset{
    width: 83%;
  }

  #checkoutButton {
    background-color: #FFBD59;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    min-width: 44px;
    min-height: 44px
  }

  #checkoutButton:hover {
    background-color: #e48900;
  }

  .modal-content p {
    font-size: 12px;
  }

  footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; 
    margin-top: 10px;
  }

  .footer-description {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }

  h6 {
    font-size: 14px;
  }

  iframe {
    border: none;
    width: 100%;
    height: 300px;
  }

  .map h1 {
    font-size: 15px;
    margin-bottom: 10px;
  }
}