img {
  display: block;
}
img {
  display: block;
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  flex-wrap: wrap;
}

header {
  background-color: #333;
  color: #fff;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav-list {
  list-style: none;
  padding: 0;
  display: flex;
}

.nav-list li {
  margin: 0 20px;
}

.nav-list li a {
  text-decoration: none;
  color: #fff;
}

.nav-list li a:hover {
  text-decoration: underline;
}

.jumbotron {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 500px;
}

.slide-container {
  width: 400%;
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  width: 25%;
  height: 100%;
  object-fit: cover;
  display: none;
}

.active {
  display: block;
}

.nav-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: #ffffff;
  cursor: pointer;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  background-color: #333;
}

.nav-button:first-child {
  left: 0;
}

.nav-button:last-child {
  right: 0;
}

@media (min-width: 1200px) {
  .slide {
    min-width: 1000px;
    width: 25%;
  }
}

@media (max-width: 1199px) {
  .slide {
    width: 100%;
  }
}

.mobile-menu {
  display: none;
  position: absolute;
  background-color: #333;
  top: 30px;
  right: 0;
  width: 200px;
  height: 100vh;
  z-index: 1;
  overflow-y: scroll;
}

.mobile-nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mobile-nav-list li {
  padding: 10px;
  text-align: center;
}

.mobile-nav-list li a {
  text-decoration: none;
  color: #fff;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

footer p {
  margin: 0;
  font-size: 100px;
  text-align: center;
}

/* Untuk layar berukuran 769px atau lebih besar (Desktop/Tablet) */
@media screen and (min-width: 769px) {
  .nav-list {
    display: flex;
  }

  .mobile-menu-toggle,
  .mobile-menu {
    display: none;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 300px;
    gap: 20px;
  }

  main {
    grid-column: 1;
  }

  aside {
    grid-column: 2;
    width: 100%;
  }

  .restaurant-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .restaurant-card {
    flex: 0 0 calc(20% - 20px);
    margin: 10px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    display: flex;
    flex-direction: column;
  }

  .restaurant-card h2 {
    font-size: 16px;
    margin: 10px 0;
  }

  .restaurant-card p {
    font-size: 14px;
    margin: 5px 0;
  }

  .restaurant-card img {
    max-width: 100%;
  }

  aside {
    background-color: #f0f0f0;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 80%;
    margin: 10px;
    height: 100vh;
  }

  .chart {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 5px;
  }

  .cart h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }

  .cart ul {
    list-style-type: none;
    padding: 0;
  }

  .cart li{
    margin-top: 10px;
  }

  .cart label {
    display: block;
    margin-bottom: 5px;
  }

  .cart input[type="text"],
  .cart textarea,
  .cart select {
    width: 85%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  #checkoutButton {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
  }

  #checkoutButton:hover {
    background-color: #0056b3;
  }
}

/* Untuk layar berukuran kurang dari atau sama dengan 768px (seukuran HP) */
@media screen and (max-width: 768px) {
  .jumbotron{
    height: 200px;
  }
  .nav-list {
    display: none;
  }

  .mobile-menu-toggle {
    display: block;
  }

  .mobile-menu {
    display: none;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: 20px;
  }

  main {
    grid-row: 1;
    grid-column: 1;
  }

  aside {
    grid-row: 2;
    grid-column: 1;
    width: 100%;
  }

  .restaurant-grid {
    display: flex;
    flex-wrap: wrap;
  }

  .restaurant-card {
    flex: 1;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .chart {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
  }

  .restaurant-card img{
    max-width: 100%;
  }

  .restaurant-card h2{
    font-size: 14px;
  }

  .restaurant-card p{
    font-size: 10px;
  }
  aside {
    background-color: #f0f0f0;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 80%;
    margin: 10px;
    height: 100vh;
  }

  .cart h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }

  .cart ul {
    list-style-type: none;
    padding: 0;
  }

  .cart li{
    margin-top: 10px;
  }

  .cart label {
    display: block;
    margin-bottom: 5px;
  }

  .cart input[type="text"],
  .cart textarea,
  .cart select {
    width: 85%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  #checkoutButton {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
  }

  #checkoutButton:hover {
    background-color: #0056b3;
  }
}
